# IDE
.vscode/
.idea
*.dSYM

# program
a.out
cub3d

# objects
obj

# rest
.DS_store
*.txt
*.py
*.lldb

# mlx file
libs/minilibx-linux/*.a
libs/minilibx-linux/**/Makefile.gen
libs/minilibx-linux/**/*.o
libs/minilibx-linux/**/mlx-test

# libft
libs/libft/*.a

# logs
logs

# valgrind
vgcore*
